{
  "presets": [
    // https://babeljs.io/docs/plugins/#presets
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": "commonjs",
        "useBuiltIns": false,
        "debug": false
      }
    ],
    "react",
    "stage-0",
    "flow"
  ],
  "plugins": [
    // https://babeljs.io/docs/plugins
    ["flow-react-proptypes"],
    ["syntax-dynamic-import"]
  ]
}
